<!DOCTYPE html>
<html>
<head>
  <title>Add a new subject</title>
</head>
<body>
  <form action="/new_subject" method="GET">
    <input type="text" name="subject_name" placeholder="Subject Name">
    <input type="text" name="student_id" placeholder="Student ID">
    <button type="submit">Save</button>
  </form>
</body>
</html>