.fancyOctopus {
	position: relative;
	margin-top: 100px;
}

#octopus {
	display: block;
	margin: auto;
}

#glasses{
	display: block;
	margin-left: 440px;
	position: relative;
	margin-top: -190px;
}

#hat {
	display: block;
	margin-left: 370px;
	position: relative;
	margin-top: -230px;
}